h1{
background-color: rgb(187, 153, 238);
border: 5px solid red;
border-radius: 50px;
text-align: center;

}
.span1{
color: red;



}
h2{
color: green;

}
h3{
text-align: center;
color: green;
background-color: yellow;
}
h4{
    background-color: yellow;
    color: green;
    text-align: center;
    
}

.h11{
background-color: yellow;
color: green;
text-align: center;
}
button{
background-color: powderblue;
width: 150px;
height: 35px;
border 1px solid transparent;
}
table{
border-collapse: collapse;
width: 100%;
}
th, td{
border: 1px solid #fff;
text-align: center;
padding: 5px;
color: #fff;
}
.Hayvon{
background-color: green;

}

.fakt{
background-color: blue;

}
.qizil{
    background-color: red;
}
.qora{
    background-color: BLACK;
}

